@model hrm_v5.Models.VACACIONES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VACACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADOS.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.CEDULA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SOLICITUD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
