@model hrm_v5.Models.DEPARTAMENTOS

<h2>Delete</h2>

<h4 class="titulos">Inhabilitar Departamentos</h4>

<h3>¿Esta seguro(a) que desea inhabilitar este departamento?</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPRESAS.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESAS.NOMBRE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
