<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HR-Manager</title>
    @Styles.Render("~/Content/EstiloPrincipal.css")
    @Scripts.Render("~/bundles/modernizr")
    @*librerias de alertify*@
    <script type="text/javascript" src="~/Scripts/alertify.min.js"></script>
    <link rel="stylesheet" href="~/Content/alertify.core.css" />
    <link rel="stylesheet" href="~/Content/alertify.default.css" />
</head>
<body>
    <div class="container">
        <header>
            <span class="Home"></span>
            <h1>@Html.ActionLink("HR-Manager", "Index", "Home", null, new { @class = "h1Letra" })</h1>
            <h2>Bienvenido(a): Usuario</h2>
            <a class='boton' href='@Url.Action("Index","Home")'></a>
        </header>
        <aside>
            <table>

                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "EMPRESAS")'"><spam class="Icono" id="Empresas"></spam> Empresas</td>
                </tr>

                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "DEPARTAMENTOS")'"><spam class="Icono" id="Departamentos"></spam>Departamentos</td>
                </tr>

                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "PUESTOS")'"><spam class="Icono" id="Puestos"></spam> Puestos</td>
                </tr>
                
                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "EMPLEADOS")'"><spam class="Icono" id="Personal"></spam> Personal</td>
                </tr>

                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Expediente", "Expediente")'"><spam class="Icono" id="Acciones"></spam> Expediente Laboral</td>
                </tr>


                <tr class="TrOpciones">
                    <td class="Seleccion"></td>
                    <td class="TDOpciones" onclick="location.href='@Url.Action("Index", "USUARIOS")'"><spam class="Icono" id="Acciones"></spam> Usuarios</td>
                </tr>
            </table>

            <img src="~/Imagenes/conexus3.png">
        </aside>
    </div>
    <section class="scrollVertical">
        <article>
            @RenderBody()
            <footer>
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            </footer>
        </article>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (TempData["Error"] != null)
    {
        string alert = "Your custom error message";
        alert = TempData["Error"].ToString();
        <script type="text/javascript">
            alertify.error('@alert');
        </script>
    }
    @if (TempData["Success"] != null)
    {
        string alert = "Your custom error message";
        alert = TempData["Success"].ToString();
        <script type="text/javascript">
            alertify.success('@alert');
        </script>
    }
    <script>
        function Confirmar(mensaje, boton) {
            alertify.set({
                labels: {
                    ok: "Aceptar",
                    cancel: "Cancelar"
                }
            });
            alertify.confirm("" + mensaje, function (e) {
                if (e) {
                    $('#' + boton).click()
                }
                else {
                    alertify.error('Se ha cancelado la accion')
                }
            });
            return false;
        }
    </script>
</body>
</html>