@model hrm_v5.Models.SUSPENSIONES

@{
    ViewBag.Title = "CreateSusp";
}

@Styles.Render("~/Content/EstiloExpediente.css")
@Styles.Render("~/Content/EstiloFormularioAPS.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Styles.Render("~/Content/EstiloMantenimiento.css")


<div>
    <h4><div id="lettertext">Expediente Laboral.</div></h4>
    <div class="divBuscar">
        @using (Html.BeginForm("Expediente", "Expediente"))
        {
            <div class="form-group">
                <label class="pNombre">Empleado: </label>
                <div class="col-md-10">
                    <input type="text" name="searchString" class="textInput" placeholder="Número de Identificación del Empleado (#########)" />
                </div>
                <button type="submit" id="Buscar" class="myButton">Buscar</button>
            </div>
        }
    </div>
    <br></br>
    <br></br>
    <hr />
    <div>
        <ul class="tab-links">
            <li><a href="@Url.Action("Expediente", "Expediente")"><div>Datos Personales.</div></a></li>
            <li><a href="@Url.Action("Expediente", "ValidateIDEmpAmon")"><div>Amonestaciones.</div></a></li>
            <li><a href="@Url.Action("Expediente", "ValidateIDEmpAsc")"><div>Ascensos.</div></a></li>
            <li><a href="@Url.Action("Expediente", "ValidateIDEmpPerm")"><div>Permisos.</div></a></li>
            <li><a href="linkSuspension"><div>Suspensiones.</div></a></li>
            <li><a href="@Url.Action("Expediente", "ValidateIDEmp")"><div>Vacaciones.</div></a></li>
        </ul>

        <h2>Create</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>SUSPENSIONES</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ID_EMPLEADO, "ID_EMPLEADO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ID_EMPLEADO", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_EMPLEADO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.INICIO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.INICIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.INICIO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FINAL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FINAL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FINAL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GOCE_SALARIO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GOCE_SALARIO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GOCE_SALARIO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AUTORIZACION, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AUTORIZACION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AUTORIZACION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Crear" class="myButton" />
                    </div>
                </div>
            </div>
        }
