@model hrm_v5.Models.EMPLEADOS

@{
    ViewBag.Title = "DetailsExp";
}
@Styles.Render("~/Content/EstiloExpediente.css")
@Styles.Render("~/Content/EstiloFormulario.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Styles.Render("~/Content/EstiloDetails.css")

<div id="TitleDetails">
    <p>Detalles del Empleado</p>
</div>

<div>
    <br></br>
    <br></br>
    <hr />

    <button class="accordion">Información Personal</button>
    <div class="panel">
        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.ID_EMPLEADO)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.ID_EMPLEADO)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.CEDULA)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.CEDULA)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.APE1)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.APE1)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.APE2)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.APE2)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.DIRECCION)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.DIRECCION)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.TEL_HABITACION)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.TEL_HABITACION)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.TEL_MOVIL)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.TEL_MOVIL)
            </dd>
        </dl>
    </div>

    <button class="accordion">Información Empresarial</button>
    <div class="panel">
        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.E_MAIL)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.E_MAIL)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.SALARIO)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.SALARIO)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.ESTADO)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.ESTADO)
            </dd>
        </dl>

        <dl class="form-group">
            <dt class="control-label">
                @Html.DisplayNameFor(model => model.PUESTOS.NOMBRE)
            </dt>

            <dd class="formDetails">
                @Html.DisplayFor(model => model.PUESTOS.NOMBRE)
            </dd>
        </dl>

        <dl class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.DIAS_VAC_DISP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIAS_VAC_DISP)
            </dd>

        </dl>

        <dl class="form-group">
            <dt>
                @Html.DisplayNameFor(model => model.DIAS_VAC_UTILIZAD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIAS_VAC_UTILIZAD)
            </dd>
        </dl>

        <br></br>

    </div>

    <div class="form-group">
        @*<input type="button" class="myButton" value="Editar" onclick="location.href='@Url.Action("Edit", "EMPLEADOS", new { id = Model.EMP_ID })'" />*@
        <input type="button" class="myButton" value="Regresar" onclick="location.href='@Url.Action("Expediente", "Expediente")'" />
    </div>
</div>

@section Scripts{
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    </script>
}
    </div>