@model IEnumerable<hrm_v5.Models.EMPLEADOS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

<p class="titulos">Todo el Personal</p>
<hr />

 <div class="divBuscar">
    @using (Html.BeginForm("Index", "EMPLEADOS"))
    {
        <div class="form-group">
            <label class="pNombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="searchString" class="textInput" placeholder="ID, Nombre, Apellidos." />
            </div>
            <button type="submit" id="Buscar" class="myButton">Buscar</button>
        </div>
    }
</div>

<br></br>
<br></br>

<div class="datagrid">
    <table align="center">
        <thead>
            <tr>
                <th align="center">
                    @Html.DisplayNameFor(model => model.CEDULA)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.APE1)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.APE2)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.TEL_MOVIL)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.E_MAIL)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.PUESTOS.ID_PUESTO)
                </th>
                <th align="center">Acciones</th>
            </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CEDULA)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.APE1)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.APE2)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.TEL_MOVIL)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.E_MAIL)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.PUESTOS.ID_PUESTO)
                    </td>
                    <td align="center">
                        <div class="myButton">@Html.ActionLink("Editar", "Edit", new { id = item.EMP_ID })</div>|
                        <div class="myButton">@Html.ActionLink("Detalles", "Details", new { id = item.EMP_ID })</div>|
                        <div class="myButton">@Html.ActionLink("Inhabilitar", "Delete", new { id = item.EMP_ID })</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<div class="myButton">
    @Html.ActionLink("Crear Nuevo", "Create")
</div>
