@model hrm_v5.Models.AMONESTACIONES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AMONESTACIONES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_FINAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_FINAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOCE_SALARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOCE_SALARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VERB_ESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VERB_ESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADOS.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.CEDULA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
