@model IEnumerable<hrm_v5.Models.PUESTOS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

<h4>Puestos</h4>

<hr/>

<div class="divBuscar">
    @using (Html.BeginForm("Index", "PUESTOS"))
    {
        <div class="form-group">
            <label class="pNombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="searchString" class="textInput" placeholder="Nombre" />
            </div>
            <button type="submit" id="Buscar" class="myButton">Buscar</button>
        </div>
    }
</div>

<div class="contenedor">
<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_PUESTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIVEL_ACADEMICO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EXP_MIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EXP_DESEADA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NOMBRE)
                </th>
            </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_PUESTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIVEL_ACADEMICO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXP_MIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EXP_DESEADA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.NOMBRE)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<div class="myButton">
    @Html.ActionLink("Crear Nuevo", "Create")
</div>

    <div class="myButton">
        @Html.ActionLink("Crear Nuevo", "Create")
    </div>
    <div class="myButton">
        @Html.ActionLink("Editar", "Edit")
    </div>
    <div class="myButton">
        @Html.ActionLink("Detalles", "Details")
    </div>
    <div class="myButton">
        @Html.ActionLink("Eliminar", "Delete")
    </div>
</div>