@model IEnumerable<hrm_v5.Models.PUESTOS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

<p><font face="sans-serif" size="3px">Puestos</font></p>

<hr/>

<div class="divBuscar">
    @using (Html.BeginForm("Index", "PUESTOS"))
    {
        <div class="form-group">
            <label class="pNombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="searchString" class="textInput" placeholder="Nombre" />
            </div>
            <button type="submit" id="Buscar" class="myButton">Buscar</button>
        </div>
    }
</div>

<br></br>
<br></br>

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th align="center">
                    @Html.DisplayNameFor(model => model.ID_PUESTO)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.NIVEL_ACADEMICO)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.EXP_MIN)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.EXP_DESEADA)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NOMBRE)
                </th>
                <th align="center">Acciones</th>
            </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.ID_PUESTO)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.NIVEL_ACADEMICO)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.EXP_MIN)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.EXP_DESEADA)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.NOMBRE)
                    </td>
                    <td align="center">
                        <div class="myButton">@Html.ActionLink("Editar", "Edit", new { id = item.ID_PUESTO})</div>|
                        <div class="myButton">@Html.ActionLink("Detalles", "Details", new { id = item.ID_PUESTO })</div>|
                        <div class="myButton">@Html.ActionLink("Inhabilitar", "Delete", new { id = item.ID_PUESTO })</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<div class="myButton">
    @Html.ActionLink("Crear Nuevo", "Create")
</div>