@model IEnumerable<hrm_v5.Models.EMPRESAS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

<h4>Empresas</h4>
<hr />

<div class="divBuscar">
    @using (Html.BeginForm("Index", "EMPRESAS"))
    {
        <div class="form-group">
            <label class="pNombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="searchString" class="textInput" placeholder="Nombre" />
            </div>
            <button type="submit" id="Buscar" class="myButton">Buscar</button>
        </div>
    }
</div>
<br></br>
<br></br>
<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th align="center">
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.CEDULA_JURIDICA)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.FECHA_FUNDACION)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.PAIS_ORIGEN)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.SEDE_CENTRAL)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.ESTADO)
                </th>
                <th align="center">Acciones</th>
            </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.RAZON_SOCIAL)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CEDULA_JURIDICA)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.FECHA_FUNDACION)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.PAIS_ORIGEN)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SEDE_CENTRAL)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.ESTADO)
                    </td>
                    <td align="center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_EMPRESA }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_EMPRESA }) |
                        @Html.ActionLink("Inhabilitar", "Delete", new { id = item.ID_EMPRESA })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<br />

<div class="myButton">
    @Html.ActionLink("Crear Nuevo", "Create")
</div>