@model IEnumerable<hrm_v5.Models.EMPRESAS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

@*librerias de alertify*@
<script type="text/javascript" src="~/Scripts/alertify.min.js"></script>
<link rel="stylesheet" href="~/Content/alertify.core.css" />
<link rel="stylesheet" href="~/Content/alertify.default.css" />

<p class="titulos">Todas las Empresas</p>


<br></br>
<br></br>
<hr />

@*
En la primera sección de la pantalla principal se presentan las opciones de busqueda que el usuario tiene diponible
para ver la información de las Empresas. La busqueda puede realizarse por nombre de Empresa. La otra opcion es buscar
las Empresas por su estado.
*@

<div class="divBuscar">
    @using (Html.BeginForm("Index", "EMPRESAS"))
    {
        @*Campo donde el usuario ingresa el nombre de la Empresa que desea buscar*@
        <div class="form-group">
            <label class="pNombre">Nombre</label>
            <div class="col-md-10">
                <input type="text" name="searchString" class="textInput" placeholder="Nombre de la Emprea" />
            </div>

            @*Campo donde el usuaio selecciona el estado por el que se van a mostrar las empresas*@
            <div class="form-group">
                <label class="pMostrar">Mostrar Por:</label>
                <div class="">
                    @Html.DropDownList("searchString", new SelectList(new List<Object> { {"Seleccione"},{ "Activo" }, { "Inactivo" }, { "Todo" } }), new { onchange = "document.location.href = '/EMPRESAS/Index?searchString=' + this.options[this.selectedIndex].value;", @class = "form-control2" })
                </div>
            </div>
            <button type="submit" id="Buscar" class="myButton">Buscar</button>
        </div>
    }
</div>

<style type="text/css">
    .webGrid {
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 99%;
        text-align: center;
    }

    .grid-header {
        background-color: #5C5C5C;
        font-weight: bold;
        color: White !important;
    }

    .webgrid-footer {
        display: none;
    }

    .webGrid table {
        background: #fff;
        overflow: auto;
        border: 1px solid #000000;
    }

    .webGrid th a {
        color: White;
        text-decoration: none;
    }

    .webGrid th {
        padding: 5px;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5C5C5C), color-stop(1, #6C6C70) );
        background: -moz-linear-gradient( center top, #5C5C5C 5%, #6C6C70 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#6C6C70');
        background-color: #5C5C5C;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: bold;
        border: 1px solid black;
        border-right: 1px solid #A3A3A3;
    }

    .webGrid td {
        border: 1px solid black;
        padding: 5px;
    }

    .webGrid th a:hover {
        text-decoration: underline;
    }

    .to-the-right {
        text-align: center;
    }

    .contenedorGrid {
        width: 100%;
        position: absolute;
        top: 37%;
    }

    #pager a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 8px;
        margin: 1px;
        color: #FFFFFF;
        border: 1px solid #707070;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7F8C94), color-stop(1, #7F8C94) );
        background: -moz-linear-gradient( center top, #7F8C94 5%, #7F8C94 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F8C94', endColorstr='#7F8C94');
        background-color: #7F8C94;
    }

        #pager a:hover {
            text-decoration: none;
            border-color: #FFFFFE;
            color: #FFFFFF;
            background: none;
            background-color: #424E54;
        }
</style>
<div class="contenedorGrid">
    @using (Html.BeginForm("formAction", "EMPRESAS"))
    {
        var grid = new WebGrid(source: Model,
        rowsPerPage: 6, ajaxUpdateCallback: "addCheck");
        @grid.GetHtml(
              tableStyle: "webGrid",
              htmlAttributes: new { id = "checkableGrid" },
              headerStyle: "webgrid-header",
              footerStyle: "webgrid-footer",
              rowStyle: "webgridRow",
              alternatingRowStyle: "alt",
              columns: grid.Columns(
              grid.Column(
              format: @<text>
                        <input type="checkbox" value="@item.ID_EMPRESA" name="childChkbox" />
                </text>,
              header: ""),
              grid.Column("NOMBRE", "Nombre de la Empresa"),
              grid.Column("RAZON_SOCIAL", "Razón Social", canSort: false),
              grid.Column("FECHA_FUNDACION", "Fecha de Fundación", canSort: false),
              grid.Column("PAIS_ORIGEN", "País de Origen", canSort: false),
              grid.Column("ESTADO", "Estado (Activo o inactivo)", canSort: false)
                    ))
        <div id="pager">
            @grid.Pager()
        </div>
        <br />
        <div>
            <input type="button" value="Crear nuevo" onclick="location.href='@Url.Action("Create", "EMPRESAS")'" class="myButton" />
            <input type="submit" name="Editar" value="Editar" class="myButton" />
            <input type="submit" name="Detalles" value="Detalles" class="myButton" />
            <input type="submit" name="Habilitar" value="Habilitar" class="myButton" onClick="return Confirmar('Esta Seguro(a) de que desea habilitar la(as) empresas seleccionadas ', 'habilitar');" />
            <input type="submit" name="Inhabilitar" value="Inhabilitar" class="myButton" onClick="return Confirmar('Esta Seguro(a) de que desea inhabilitar la(as) empresas seleccionadas ', 'Inhabilitar');"  />
            <input id="Inhabilitar" type="submit" name="Inhabilitar" value="Inhabilitar" class="btnInvisible"/>
            <input id="habilitar" type="submit" name="habilitar" value="habilitar" class="btnInvisible" />
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {
            addCheck();
        });
        function addCheck() {
            var $chk = $('<input/>').attr({ type: 'checkbox', name: 'chkAll', id: 'chkAll', title: "Select All" });
            $('th:first').append($chk);
            $('#chkAll').click(function () {
                $(':checkbox').prop('checked', $(this).is(':checked') ? true : false);
            });
            $(':checkbox').not('#chkAll').click(function () {
                testCheck();
            });
        }
        function testCheck() {
            if ($(':checkbox').not('#chkAll').filter(':not(:checked)').length === 0) {
                $('#chkAll').prop('checked', true);
            } else {
                $('#chkAll').prop('checked', false);
            }
        }
    </script>
}
